<mat-toolbar class="header-toolbar" color="primary">
  <mat-toolbar-row>
    <div class="container">
      <div class="row between-xs middle-xs header-row">
        <nav>
          <a id="linkProducto" routerLink="./" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Producto</a>
        <a id="linkCrearProducto" routerLink="./crear" routerLinkActive="active">Crear producto</a>
        <a id="linkBorrarProducto" routerLink="./borrar" routerLinkActive="active">Borrar producto</a>
        <a id="linkListarProducto" routerLink="./listar" routerLinkActive="active">listar producto</a>
        </nav>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>