<div>
    <form autocomplete="off" [formGroup]="form" class="form">
        <p>Para crear un registro de alquiler <br>
            es necesario que tome en cuenta <br>
            los lineamientos dados por cada <br>
            campo.</p>
        <mat-form-field>
            <mat-label>Documento: </mat-label>
            <input formControlName="id" matInput type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nombre: </mat-label>
            <input formControlName="nombre" matInput type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Numero: </mat-label>
            <input formControlName="numero" matInput type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Fecha de pago: </mat-label>
            <input formControlName="fechaPago" matInput type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Estado de pago: </mat-label>
            <input formControlName="estadoPago" matInput type="text">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Letra del local</mat-label>
            <mat-select formControlName="letraLocal" panelClass="example-panel-blue">
                <mat-option *ngFor="let letra of abc" [value]="letra">{{letra}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <h3 *ngIf="form.invalid">Campos invalidos.</h3>
            <button mat-raised-button color="primary" (click)="validar()">Guardar</button>
        </div>
    </form>
</div>