.alquiler-table {
  width: 100%;
  background-color: #018786;
  text-transform: capitalize;
}
p {
  text-align: center;
  padding-top: 3%;
  font-size: 160%;
}

th {
  font-size: 150%;
  color:#3700B3 ;
}

td{
  color: white;
  font-size: 110%;
}
